# ♀ Planet Venus for Plone — Feeds
# ================================
#
# Lista de los feeds.  Formato:
#
# [URL del FEED (RSS, ATOM, etc.)]
# name = Titulo o nombre del autor
# link = Ruta a la pagina de inicio del sitio web

[http://danilodellaquila.com/plone-blog-es/RSS]
name = Danilo Dellaquila
link = http://danilodellaquila.com/
